<section> <!-- Section 3 holds check boxes-->
  <h4>3. At what age do you think it is appropriate for a child to have a dummy?</h4>

  <form action="#">
      <p>
          <label>
              <input type="checkbox" />
              <span>Upto 1 yr</span>
          </label>
      </p>
      <p>
          <label>
              <input type="checkbox" />
              <span>Upto 2 yrs</span>
          </label>
      </p>
      <p>
          <label>
              <input type="checkbox" />
              <span>Upto 3 yrs</span>
          </label>
      </p>
      <p>
          <label>
              <input type="checkbox" />
              <span>Upto 4 yrs</span>
          </label>
      </p>
      <p>
          <label>
              <input type="checkbox" />
              <span>Upto 5 yrs</span>
          </label>
      </p>
      <p>
          <label>
              <input type="checkbox" />
              <span>Beyond 5 yrs</span>
          </label>
      </p>
  </form>
</section> <!-- end of section 3-->