<section> <!-- Section 1 holds radio buttons-->
  <h4>1. What do you think about the use of dummies?</h4>
  <form action="#">
      <p>
          <label>
              <input name="group1" type="radio" checked />
              <span>It's fine- whatever works, right?</span>
          </label>
      </p>
      <p>
          <label>
              <input name="group1" type="radio" />
              <span>I dont mind them but never used mch</span>
          </label>
      </p>
      <p>
          <label>
              <input name="group1" type="radio" checked />
              <span>I prefer to not use the dummy as much as possible</span>
          </label>
          </p>
          <p>
          <label>
              <input name="group1" type="radio" />
              <span>I would never use a dummy</span>
          </label>
      </p>
  </form>
</section> <!-- end of section 1-->
