<!-- One -->
<strong>1. What do you think about the use of dummies?</strong>
<br><br>
<i>Answer: User submitted answer</i> 

<br><br>
<!-- Two -->
<strong>2. Can you tell us why you have this view?</strong>
<br><br>
<i>Answer: User submitted answer</i> 

<br><br>
<!-- Three -->
<strong>3. At what age do you think it is appropriate for a child to have a dummy?</strong>
<br><br>
<i>Answer: User submitted answer</i> 

<br><br>
<!-- Four -->
<strong>5. How do you feel about children of 4yrs+ using dummies?</strong>
<br><br>
<i>You SKIPPED this</i>

<br><br>
<!-- Five -->
<strong>5. How do you feel about children of 4yrs+ using dummies?</strong>

<i>Answer: User submitted answer</i> 
<br><br>
<br><br>


<button class="waves-effect waves-light btn" (click)="print()"> Save as PDF </button>
