<section> <!-- section 4 hold single select dropdown-->
  <h4>5. How do you feel about children of 4yrs+ using dummies?</h4>
  <div class="input-field col s12">
      <select>
          <option value="" disabled selected>Choose your option:</option>
          <option value="1">I am OK with it</option>
          <option value="2">I am confused with what to do.</option>
          <option value="3">I want to make sure this stops</option>
          </select>
      <label>--Select--</label>
  </div>


  <p>Question 4 was skipped and pagination for skip and single select (materialize conflict with angular) not yet implemented; </p>
</section> <!-- end of section 4-->